* {
    padding: 0.5vw;
    margin: 0.5vw;
    border: solid black;

}

body{
    background-color: black;
    color: white;
}

header {
    display: flex;
    background-color: red;
}

.nav-bar{
    background-color: green
}

main{
    background-color: blue;
}

.vitrine{
    background-color: orange;
}

.carrousels{
    background-color: purple;
}
